@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: -apple-system-font, Helvetica, Arial, Verdana, sans-serif;
  font-size: 17px;
  background: #383f42;
  background: -moz-linear-gradient(top, #383f42 0%, #365866 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #383f42), color-stop(100%, #365866));
  background: -webkit-linear-gradient(top, #383f42 0%, #365866 100%);
  background: -o-linear-gradient(top, #383f42 0%, #365866 100%);
  background: -ms-linear-gradient(top, #383f42 0%, #365866 100%);
  background: linear-gradient(to bottom, #383f42 0%, #365866 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#383f42', endColorstr='#365866', GradientType=0);
  color: #f0f0f0;
}

#puzzle-container {
  display: block;
  padding: 10px 0;
  position: relative;
}

#puzzle-container h1 {
  text-align: center;
}

#moves {
  display: inline-block;
  min-width: 66px;
}

#moves:before {
  content: 'Züge: ';
}

#info {
  margin: 0 auto;
  text-align: center;
  display: block;
}

#game-number {
  display: inline-block;
}

#game-number:before,  #game-number:after {
  content: '#';
}

#controls {
  margin: 0 auto;
  text-align: center;
  display: block;
}

table#puzzle {
  border-collapse: collapse;
  margin: 10px auto;
  border: 1px solid #2f3233;
  background-color: #2f3233;
  box-shadow: #2f3233 0px 0px 6px;
}

  table#puzzle td {
    text-align: center;
    cursor: pointer;
    padding: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-perspective: 300px;
    -ms-perspective: 300px;
    -webkit-perspective: 300px;
    perspective: 300px;
    -moz-perspective-origin: center center;
    -ms-perspective-origin: center center;
    -webkit-perspective-origin: center center;
    perspective-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    position: relative;
  }

  table#puzzle .hint {
    opacity: 0.5;
  }

  table#puzzle td > span.three-d {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-repeat: no-repeat;
  }

  table#puzzle td .three-d.old {
    background-image: url('../img/cover0-582.jpg');
  }

  table#puzzle td .three-d.new {
    background-image: url('../img/cover1-582.jpg');
  }

  table#puzzle td .three-d.front {
    -moz-animation: spin-to-back ease-in-out 0.5s forwards;
    -o-animation: spin-to-back ease-in-out 0.5s forwards;
    -webkit-animation: spin-to-back ease-in-out 0.5s forwards;
    animation: spin-to-back ease-in-out 0.5s forwards;
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  table#puzzle td .three-d.back {
    -moz-animation: spin-to-front ease-in-out 0.5s forwards;
    -o-animation: spin-to-front ease-in-out 0.5s forwards;
    -webkit-animation: spin-to-front ease-in-out 0.5s forwards;
    animation: spin-to-front ease-in-out 0.5s forwards;
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

@-moz-keyframes spin-to-front {
  from {
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

@-webkit-keyframes spin-to-front {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

@keyframes spin-to-front {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

@-moz-keyframes spin-to-back {
  from {
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  to {
    -moz-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes spin-to-back {
  from {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes spin-to-back {
  from {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  to {
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

button {
  border: 1px solid #1b1d1e;
  background-color: #bfd2db;
  cursor: pointer;
  padding: 0 0.5em;
  font-family: -apple-system-font, Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  height: 44px;
  min-width: 44px;
}

  button:hover {
    background-color: #cfd9de;
  }

  button:active {
    background-color: #e4e9eb;
  }

  button:disabled {
    cursor: not-allowed;
  }

select {
  font-family: -apple-system-font, Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  height: 44px;
  min-width: 66px;
  display: inline-block;
  background-color: #bfd2db;
}

body.readme {
  padding: 0.5ex 0.5em;
}

p {
  padding: 1ex 0;
}

footer {
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 0.5ex 1em;
  font-size: smaller;
  max-width: 411px;
}

a {
  color: #f8f8f8;
  text-decoration: none;
  font-weight: bold;
}

  a:hover {
    text-decoration: underline;
  }

dl {
  padding-top: 1ex;
  padding-bottom: 2ex;
}

dt {
  font-weight: bold;
}
dd {
  padding-left: 1em;
}

@media screen and (max-width: 480px) {
  html, body {
    font-size: 14px;
  }

  table#puzzle td .three-d.old {
    background-image: url('../img/cover0-388.jpg');
  }

  table#puzzle td .three-d.new {
    background-image: url('../img/cover1-388.jpg');
  }

  footer {
    max-width: 274px;
  }
}
